---
import Page from "@/layouts/Page.astro";
import TopPostList from "@/components/TopPostList.astro";
---

<Page title="TOP" pageClass="index">
  <div class="top-post-list" slot="list">
    <TopPostList />
  </div>
  <div class="about" slot="content">
    <h1>ABOUT</h1>
    <div class="logo-image">
      <img src="/logo-plus.svg" alt="logo" />
    </div>
    <p>
      > What is this? <br />
      This is a technology-based visual and interaction research and practice unit.<br
      />
      <br />
      > これはなんですか？ <br />
      これは、テクノロジーをベースとしたビジュアルとインタラクションの研究・実践ユニットです。
    </p>
    <p>
      > Who are you? <br />
      We design and write code. <br />
      Our team consists of members who can develop visuals and interactions from
      both design and engineering perspectives.<br />
      <br />
      > 誰ですか？ <br />
      デザインをして、コードを書きます。<br />
      デザインとエンジニアリング両方の視点からビジュアルやインタラクション開発を行えるメンバーで構成されています。
    </p>
    <p>
      > What will you practice? <br />
      We will plan, direct, design and implement generative visuals, <br />
      interactive on-screen content and installations. <br />
      <br />
      > どのようなことを実践していきますか？ <br />
      ジェネレーティブなビジュアルや、インラクティブなオンスクリーンコンテンツ、
      <br />
      インスタレーションの企画、演出、デザイン、実装を行います。
    </p>
  </div>
</Page>

<style lang="scss">
  .about {
    position: absolute;
    right: 20px;
    top: 0;
  }
  .logo-image {
    width: 700px;
    border: 1px solid var(--color-technograph-blue);
    @include grid-center;
    img {
      width: 25%;
    }
    height: 400px;
    margin-bottom: 30px;
  }
</style>
