/* Local style overrides */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff !important; /* 領域外を白 */
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  position: static;
  width: 90vmin !important;
  height: 90vmin !important;
  max-width: 1920px;
  max-height: 1920px;
  background-color: #000 !important; /* プレビュー用には黒を表示 */
}

button {
  z-index: 100 !important;
}