@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  color: #fff;
  font-family:
    "Press Start 2P",
    "Space Mono",
    "Noto Sans JP",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.5em;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

#chat-area {
  width: 375px;
  height: 100vh;
  overflow-y: auto;
  z-index: 5;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  canvas {
    width: 100vw;
    height: 100vh;
  }
}

.balloon {
  margin: 8px 10px;
  padding: 7px 10px;
  min-width: 100px;
  max-width: 70%;
  color: #333;
  font-size: 14px;
  background: #d4eaff;
  border-radius: 20px;
  word-break: break-all;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}

.left:before {
  left: 15%;
}
.right:before {
  right: 15%;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 80%;
  margin-left: 0px;
  border: 6px solid transparent;
  border-top: 12px solid #d4eaff;
}

.balloon p {
  margin: 0;
  padding: 0;
}
