---

---

<footer>
  <p>©2024 TECHNOGRAPH</p>
</footer>
<script>
  import "@/scripts/global.ts";
</script>

<style>
  footer {
    font-size: 8px;
    background-color: var(--color-technograph-blue);
    color: var(--color-white);
    position: fixed;
    bottom: 0;
    left: 0;
  }
</style>
