---
const params = Astro.params;
---

<header>
  <h1><a href="/"><img src="/logo.svg" alt="TECHNOGRAPH" /></a></h1>
</header>

<style lang="scss">
  header {
    height: 60px;
    border-bottom: 1px solid var(--color-technograph-blue);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
    ul {
      display: flex;
      gap: 10px;
      a {
        @include grid-center;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        display: block;
        padding: 10px;
        border-radius: 4px;
      }
    }
    @include mq(sp) {
      display: none;
    }
  }
</style>
