---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { title, description, isFrontPage } = Astro.props;
---

<!doctype html>
<html lang="ja" dir="ltr">
  <head>
    <BaseHead
      title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
    />
  </head>
  <body x-data>
    <div class="container">
      <div class="left">
        <Header isFrontPage={isFrontPage} />
        <slot name="list" />
      </div>
      <div class="right">
        <main id="swup" class="transition-main">
          <slot name="content" />
        </main>
      </div>
    </div>
    <Footer />
    <style>
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left,
        .right {
          height: 100vh;
          overflow-y: auto;
          position: relative;
        }
        .left {
          border-right: 1px solid var(--color-technograph-blue);
        }
      }
      main {
        min-height: unset !important;
      }
      .transition-main {
        transition: all 0.5s ease-in-out;
      }
    </style>
  </body>
</html>
